# Python
__pycache__/
*.py[cod]

# Entornos virtuales
env/
venv/

# Cachés, builds, artefactos
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
.eggs/

# Node
node_modules/

# Ignora únicamente la carpeta de módulos, NO los package.json
# node_modules

# Aquí acabamos con las exclusiones de ficheros de proyecto
