# .gitignore
__pycache__/
*.py[cod]
env/
venv/
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/

node_modules
.eggs
.github
.pre-commit-config.yaml
CHANGELOG.md 
MANIFEST.in
package.json
package-lock.json

